<div class="rides-page">
    <div class="ride-container container w-full sm:max-w-7xl px-4 sm:px-8 mx-auto">
        <div class="rides-wrapper flex flex-col items-center justify-center mb-10">
            <div class="ride-page-heading text-center my-10">
                <h1 class="text-tamount-primary text-2xl font-semibold">Your bookings</h1>
            </div>
            <div class="rides w-full sm:w-1/2 flex flex-col gap-5">
                @for (booking of bookings(); track $index) {
                    <tamount-ride-card [ride]="booking.ride" />
                }
            </div>
        </div>
    </div>
</div>
