<div class="hero-section">
    <div class="hero-container container w-full sm:max-w-7xl px-4 sm:px-8 mx-auto">
        <div class="hero-wrapper grid grid-cols-1 sm:grid-cols-2 items-center gap-5">
            <div class="hero-filter-search">
                <h1 class="text-4xl font-bold my-4">Your pick of rides at <span class="text-tamount-primary">low prices.</span></h1>
                <tamount-search-filter-card />
            </div>
            <div class="hero-assets-element">
                <p-image [src]="svgElement" width="90%"/>
            </div>
        </div>
    </div>
</div>
