<div class="publish-ride-hero-section">
    <div class="publish-ride-hero-container container w-full sm:max-w-7xl px-4 sm:px-8 mx-auto">
        <div class="publish-ride-hero-wrapper flex flex-col items-center justify-center">
            <div class="publish-ride-heading w-full sm:w-2/3 my-10 text-left sm:text-center">
                <h1 class="text-xl sm:text-3xl font-bold text-tamount-primary leading-normal">Become a Tamount driver and save on travel costs by sharing your ride with passengers.</h1>
            </div>
            <div class="publish-ride-inner-wrapper w-full grid grid-cols-1 sm:grid-cols-2 items-center gap-5">
                <div class="publish-ride-form w-full sm:w-4/5">
                    <tamount-publish-ride-form />
                </div>
                <div class="publish-ride-assets-element">
                    <p-image [src]="svgElement"/>
                </div>
            </div>
        </div>
    </div>
</div>
