<div class="ride-form">
    <div class="ride-form-container">
        <div class="ride-form-wrapper flex flex-col items-center justify-center my-10">
            <div class="login-page-heading flex items-center justify-center my-5">
                <h1 class="text-3xl font-bold">Where are you leaving from?</h1>
            </div>
            <form class="w-full space-y-5" (submit)="submit()" [formGroup]="form">
                <div class="form-field">
                    <div class="departure-field flex flex-col gap-2">
                        <label for="departure">Departure</label>
                        <p-autoComplete id="departure" formControlName="departure"  placeholder="Leaving from" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" inputStyleClass="w-full px-2" styleClass="h-10 w-full border rounded" field="city.name"></p-autoComplete>
                    </div>
                    <small id="username-error" class="text-xs text-red-600">{{message}}</small>
                </div>
                <div class="form-field">
                    <div class="flex flex-col gap-2">
                        <p-button type="submit" styleClass="py-2 w-full bg-tamount-primary text-white" [disabled]="loading" label="Continue" loadingIcon="pi pi-spinner" [loading]="loading"></p-button>
                    </div>
                </div>
            </form>
            @if (departure) {
                <div class="selected-departure">
                    <p-button styleClass="w-full p-2" severity="secondary">
                        <div class="card-wrapper flex flex-col items-start justify-between w-full">
                            <div class="city-name">
                                <p class="uppercase text-tamount-primary font-medium">{{ departure.city.name }}</p>
                            </div>
                        </div>
                    </p-button>
                </div>
            }
        </div>
    </div>
</div>
