<div class="user-info-page w-full">
    <div class="user-info-container container w-full sm:max-w-7xl px-4 sm:px-8 mx-auto">
        <div class="user-info-wrapper flex items-center justify-center">
            <div class="user-info w-1/2">
                <div class="user-profile-card w-full">
                    <p-button styleClass="w-full p-5" severity="secondary">
                        <div class="card-wrapper flex items-center justify-between w-full">
                            <div class="user-general-info text-left">
                                <div class="user-name">
                                    <h1 class="text-tamount-primary text-3xl font-medium">{{ profile().firstName }}</h1>
                                </div>
                                <div class="user-status">
                                    <p class="text-slate-500 font-medium capitalize">newcomer</p>
                                </div>
                            </div>
                            <div class="user-picture">
                                @if (profile().hasPicture && profile().picture != undefined) {
                                    <p-avatar [image]="profile().picture" styleClass="mr-2 cursor-pointer" shape="circle" size="xlarge"></p-avatar>
                                } @else {
                                    <p-avatar icon="pi pi-user" styleClass="mr-2 cursor-pointer" shape="circle" size="xlarge"></p-avatar>
                                }
                            </div>
                        </div>
                    </p-button>
                </div>
                <hr class="w-full">
                <div class="user-vehicles">
                    <div class="section-header">
                        <h1 class="my-5 text-xl text-tamount-primary font-semibold">Vehicles</h1>
                        <div class="vehicles-wrapper">
                            <div class="vehicle">
                                <p-button styleClass="w-full p-2" severity="secondary">
                                    <div class="card-wrapper flex flex-col items-start justify-between w-full">
                                        <div class="vehicle-name">
                                            <p class="uppercase text-tamount-primary font-medium">ford focus</p>
                                        </div>
                                        <div class="vehicle-color">
                                            <p class="capitalize text-slate-500">grey</p>
                                        </div>
                                    </div>
                                </p-button>
                            </div>
                            <div class="vehicle">
                                <p-button styleClass="w-full p-2" severity="secondary">
                                    <div class="card-wrapper flex flex-col items-start justify-between w-full">
                                        <div class="vehicle-name">
                                            <p class="uppercase text-tamount-primary font-medium">audi a6</p>
                                        </div>
                                        <div class="vehicle-color">
                                            <p class="capitalize text-slate-500">dark blue</p>
                                        </div>
                                    </div>
                                </p-button>
                            </div>
                        </div>
                        <div class="add-new-vehicle">
                            <p-button styleClass="w-full p-2 py-4" severity="secondary" routerLink="../vehicle/add">
                                <div class="card-wrapper flex items-center justify-left gap-4 w-full">
                                    <tamount-icon icon="plus-circle" styleClass="text-xl text-tamount-primary" />
                                    <p class="text-tamount-primary">Add vehicle</p>
                                </div>
                            </p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
