<div class="user-info-page w-full">
    <div class="user-info-container container w-full sm:max-w-7xl px-4 sm:px-8 mx-auto">
        <div class="user-info-wrapper flex items-center justify-center">
            <div class="user-info w-1/2">
                <div class="user-profile-card w-full">
                    <p-button styleClass="w-full p-5" severity="secondary">
                        <div class="card-wrapper flex items-center justify-between w-full">
                            <div class="user-general-info text-left">
                                <div class="user-name">
                                    <h1 class="text-tamount-primary text-3xl font-medium">hello</h1>
                                </div>
                                <div class="user-status">
                                    <p class="text-slate-500 font-medium capitalize">newcomer</p>
                                </div>
                            </div>
                            <div class="user-picture">
                                <p-avatar icon="pi pi-user" styleClass="mr-2 cursor-pointer" shape="circle" size="xlarge"></p-avatar>
                                <!-- TODO: add user picture here if exist else show this avatar -->
                            </div>
                        </div>
                    </p-button>
                </div>
            </div>
        </div>
    </div>
</div>
