<div class="ride-details-page">
    <div class="ride-details-container container w-full sm:max-w-7xl px-4 sm:px-8 mx-auto">
        <div class="ride-details-wrapper w-full sm:w-1/2 mx-auto">
            <div class="searched-date text-center">
                <h1 class="text-4xl font-bold">Fri, 22 March</h1>
            </div>
            <p-divider />
            <div class="ride-trip-points drop-shadow-md">
                <div class="card">
                    <p-timeline [value]="events">
                        <ng-template pTemplate="content" let-event>
                            <div class="flex flex-col gap-2">
                                <p-button styleClass="p-2 w-full text-left" [label]="event.city" loadingIcon="pi pi-spinner"  severity="secondary"></p-button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="opposite" let-event>
                            <p class="font-medium">{{ event.time }}</p>
                        </ng-template>
                    </p-timeline>
                </div>
            </div>
            <p-divider />
            <div class="ride-price">
                <div class="ride-price-wrapper flex items-center justify-between">
                    <p class="ride-price-text font-medium">Total price for 1 passenger</p>
                    <p class="ride-price-amount text-xl font-bold">MAD 17.89</p>
                </div>
            </div>
            <p-divider />
            <div class="ride-driver-info font-medium">
                <div class="ride-driver-profile">
                    <div class="user-profile-card w-full">
                        <p-button styleClass="w-full py-5" severity="secondary">
                            <div class="card-wrapper flex items-center justify-between w-full">
                                <div class="user-general-info text-left">
                                    <div class="user-name">
                                        <h1 class="text-tamount-primary text-lg font-medium">hello</h1>
                                    </div>
                                    <div class="user-ratings">
                                        <p class="text-slate-500 flex items-center justify-center gap-2 text-sm font-medium capitalize"><tamount-icon icon="star-fill" styleClass="text-sm" /> 5/5 - 2 ratings</p>
                                    </div>
                                </div>
                                <div class="user-picture">
                                    <p-avatar icon="pi pi-user" styleClass="mr-2 cursor-pointer" shape="circle" size="large"></p-avatar>
                                    <!-- TODO: add user picture here if exist else show this avatar -->
                                </div>
                            </div>
                        </p-button>
                    </div>
                    <p-divider />
                    <div class="ride-driver-statuses w-full text-left">
                        <p class="verification-status flex items-center justify-left gap-4">
                            <tamount-icon icon="verified" styleClass="text-lg text-tamount-primary" />
                            <span class="text-slate-600">Verified Profile</span>
                        </p>
                        <!-- add other statuses here -->
                    </div>
                    <hr class="my-6">
                    <div class="ride-description">
                        <p class="text-slate-600">I'll pick you up from the Premier Inn Hotel on Regent Street no later than 7:30am</p>
                    </div>
                    <p-divider />
                    <div class="ride-driver-contact">
                        <p-button styleClass="w-full py-5" severity="secondary">
                            <div class="card-wrapper flex items-center justify-left gap-4 w-full">
                                <tamount-icon icon="comments" styleClass="text-xl text-tamount-primary" />
                                <p class="text-tamount-primary">Contact Driver name</p>
                            </div>
                        </p-button>
                    </div>
                    <hr class="my-6">
                    <div class="ride-booking-type">
                        <div class="ride-booking-wrapper flex items-center gap-4 text-slate-600">
                            <tamount-icon icon="clock" styleClass="text-xl" />
                            <p>Your booking won't be confirmed until the driver approves your request</p>
                        </div>
                    </div>
                    <hr class="my-6">
                    <div class="ride-driver-preferences">
                        <ul class="flex flex-col items-left justify-center gap-4">
                            <li class="flex items-center gap-4 text-slate-600">
                                <tamount-icon icon="times-circle" styleClass="text-xl" />
                                <p>No smoking, please</p>
                            </li>
                            <li class="flex items-center gap-4 text-slate-600">
                                <tamount-icon icon="times-circle" styleClass="text-xl" />
                                <p>I’d prefer not to travel with pets</p>
                            </li>
                            <li class="flex items-center gap-4 text-slate-600">
                                <tamount-icon icon="users" styleClass="text-xl" />
                                <p>Max, 2 in the back</p>
                            </li>
                        </ul>
                    </div>
                    <p-divider />
                    <div class="ride-car-information text-slate-600">
                        <div class="car-name">
                            <p class="uppercase font-medium">dacia logan</p>
                        </div>
                        <div class="car-color">
                            <p class="capitalize">gray</p>
                        </div>
                    </div>
                    <hr class="my-6 border-4 border-slate-200 rounded">
                    <div class="report-ride-button mb-5">
                        <p-button styleClass="w-full py-5" severity="secondary">
                            <div class="card-wrapper flex items-center justify-left gap-4 w-full">
                                <tamount-icon icon="exclamation-circle" styleClass="text-xl text-tamount-primary" />
                                <p class="text-tamount-primary">Report</p>
                            </div>
                        </p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="request-booking-button sticky bottom-0 left-0 bg-white border-t border-slate-300">
        <div class="request-booking-container container w-full sm:max-w-7xl px-4 sm:px-8 mx-auto">
            <div class="request-booking-wrapper flex items-center justify-center py-5">
                <p-button styleClass="w-full py-3 px-6 bg-tamount-primary rounded-full" severity="info">
                    <div class="card-wrapper flex items-center justify-left gap-4 w-full text-white">
                        <tamount-icon icon="calendar" styleClass="text-xl" />
                        <p>Request to book</p>
                    </div>
                </p-button>
            </div>
        </div>
    </div>
</div>
